vault.sh
terraform.tfstate.backup
terraform.tfstate
.terraform/
*.tfvars
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem
*.crt
*.key
terraform/ 